.centerText{
    text-align: center;
}
#timeLeft{
    margin-bottom: 10%;
}
.marginTop{
    margin-top: 5%;
}
.underQuestions{
    width: 55%;
    margin: 0 auto;
}
.greenColor{
    background: lightgreen;
}
.displayNone{
    display: none;
}
.displayButton{
    display: block;
}